*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}

.logo-img img{
    width: 20%;
}
.toggle-bar{
   
    background-color: black;
    height: 2px;
    margin: 6px 0;
}
.navbar-toggler .toggle-bar:first-child,.navbar-toggler .toggle-bar:last-child{
    width: 35px;
}
.navbar-toggler .toggle-bar:nth-child(2){
    width:20px
}
.navbar-toggler:hover .toggle-bar:nth-child(2){
    width: 35px;
}
.navbar-toggler, .navbar-toggler:focus{
    border: none !important;
    box-shadow: none !important;
}
/* .navbar-nav{
    justify-content: end;
    align-items: end;
    width: 15%;
    padding: 0 15px;
    padding-left: 15px !important;
    background-color: #f6f6f6;
} */
.navbar-nav .nav-item{
    width: 100%;
}
/* .navbar-nav .nav-item:not(:last-child){
    border-bottom: 1px solid #ddd;
} */

.landing{
    background-image: url('../images/landing.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
}
.landing-text{
    min-height: 85vh;
}
.landing-text h1{
    color: #1ec3b3;
   
}

.features{
    background-color: #f6f6f6;
}
.feat{
    padding: 20px 10px;
}
.feat i, .service-icon i{
    color: #10cab7;
}
.feat h4{
    margin: 30px 0;
}
.feat p{
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}
.section-header h1{
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -3px;
    color: #ebeced;
}
.section-header p{
    color: #797979;
    margin: -40px 0;
    font-size: 20px;
}
.section-row{
    margin-top: 100px !important;
}
.services-container{
    margin: 30px 0;
}
.services-container p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.service-img img{
    width:60%;
    margin-top: 20px;
    /* position: relative; */
}
.service-img{
    position: relative;
}
.service-img::after{
    position: absolute;
    content: "";
    width: 100px;
    background: #2c4856;
    height: 420px;
    right: 40px;
    top: -22px;
    z-index: -1;
}

.portfolios, .contact{
    background-color: #f6f6f6;
}

.portfolio-content .card{
    border: none !important;

}
.portfolio-content .card .card-text{
    color: #777;
    line-height: 1.6;
}
.about-img img{
    width: 60%;
}
.about-content h5{
    line-height: 1.6;
}
.about-content p{
    color: #777;
    line-height: 2;
}
.about-content hr{
    margin: 3rem 0 !important;
    width: 50%;
    color: #10cab7;
    opacity: 1 !important;
    height: 2px !important;
}
.about-content{
    padding-left: 145px;
}

.about-img{
    position: relative;
}
.about-img::before{
    position: absolute;
    content: "";
    width: 100px;
    background: #ebecee;
    height: 453px;
    left: 60px;
    top: -37px;
    z-index: -1;
}
.about-img::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 375px;
    right: -65px;
    bottom: 38px;
    z-index: -1;
    border-bottom: 80px solid #10cab7;
    border-left: 80px solid #10cab7;
}
.feel-free h4, .feel-free a{
    font-size: 35px;
    font-weight: 800;
    
}
.feel-free h4{
    color: #2c4755;
    letter-spacing: -2px;
}
.feel-free a{
    text-decoration: none;
    color: #10cab7;
}
.feel-free a:hover, footer p span{
    color: #10cab7;
}
footer{
    background-color: #2c4755;
}

